*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: large;
}

body{
    background-color: #d5e0ff;
    background-image: url("./assests/background-gameover.jpg");
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
    padding: 100px 200px;
    /* border: 2px solid red; */
}

.flex{
    display: flex;
}


table{
    background-color: white;
    border: 2px solid blue;
    border-collapse: collapse;
}

td{
    border: 1px solid lightblue;
}

img{
    height: 50px;        /* for stopwatch*/
}

.gameTable{             /*grid of the game*/
    width: 500px;
    height: 500px;
    /* border: 1px solid blue; */
}

.rest{
    /* border: 2px solid red; */
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 450px;
}


.numpad{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1px;
    width: 250px;
    height: 300px;
    background-color: white;
    border: 2px solid lightslategray;
}
.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid#d5e0ff;
    width: 82px;
    cursor: pointer;
}

.erase-result{
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 30px;
}

.erase{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    border-radius:5px;
    width: 110px;
    height: 30px;
    cursor: pointer;
}

.erase img{
    height: 20px;
    padding-right: 20px;
}


.clock{
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid; */
    width: 150px;
    /* color: white; */
    background-color: rgba(255, 255, 255, 0.59);
    border-radius: 10px;
    height: 70px;
}

.resultButton{
    /* background-color: #84c1fe; */
    border-radius: 5px;
    background-color: rgba(202, 152, 112, 0.721);
    height: 30px;
    width: 110px;
    color: white;

}





/* Your existing CSS code here */

/* Mobile-responsive styles */
@media (max-width: 480px) {
    body {
        padding: 20px;
        gap: 20px;
        height: 100vh;
        background-repeat: no-repeat;
    }
    .flex{
        flex-direction: column;
        align-items: center;
    }
    .clock{
        flex-direction: row;
        order: 3;
    }
    .numpad{
        order: 1;
        display: flex;
        justify-content: space-between;
        height: 40px;
        width: 100%;
    }
    .erase-result{
        order: 2;
        flex-direction: row;
    }
    .erase{
        flex-direction: row;
    }
    .gameTable{
        width: 100%;
        height: 400px;
        margin-top: 60px;
    }
    .rest{
        margin-bottom: 50px;
        justify-content: space-between;
        height: 200px;
    }
    .cell{
        width: 40px;
    }
}
