*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-image: url("./assests/background-gameover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 128px 450px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
}

.all{
    background-color: lightgrey;
    border-radius: 10px;
    /* position: relative;
    top: 130px;
    left: 50vh;
    margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 636px;
    height: 448px;
    font-size: 30px;
}

.playAgain{
    height: 40px;
    width: 295px;
    border-radius: 10px;
    background: #0C8CE9;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* Mobile-responsive styles */
@media (max-width: 480px) {
    body {
        padding: 20px;
        padding-left: 45px;
        padding-top: 250px;
        height: 100vh;
    }

    .all {
        width: 90%;
        font-size: 24px;
        height: 350px;
    }

    .playAgain {
        width: 100%;
    }
    
    h2{
        font-size: 20px;
    }

    h1{
        font-size: 30px;
    }

    .playAgain{
        width: 200px;
    }
}
