*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: large;
}

body{
    background-color: #d5e0ff;
    background-image: url("./assests/background-gameover.jpg");
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid red; */
}

.flex{
    display: flex;
}

img{
    height: 50px;        /* for stopwatch*/
}

.gameTable{             /*grid of the game*/
    width: 450px;
    height: 450px;
    /* border: 1px solid red; */
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.tile {
    width: 50px; 
    height: 50px;
    border: 1px solid lightgray;
    cursor: pointer;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line{
    border-bottom: 1px solid black;
}

.vertical-line{
    border-right: 1px solid black;
}

.tile-start {
    background-color: rgba(173, 216, 230, 0.25);
}

.number-selected {
    background-color: rgba(128, 128, 128, 0.641);
}

.rest{                      /* Everthing except the gameTable */
    /* border: 2px solid red; */
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 450px;
}


.numpad{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 250px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
}
.cell{          /*for the numbers in numberpad */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    width: 82px;
    cursor: pointer;
}

.erase-result{
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 30px;
}

.erase{
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    border-radius:5px;
    width: 110px;
    height: 30px;
    cursor: pointer;
}

.clock{
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid; */
    width: 150px;
    /* color: white; */
    background-color: rgba(255, 255, 255, 0.59);
    border-radius: 10px;
    height: 70px;
}

.result{
    /* background-color: #84c1fe; */
    border-radius: 5px;
    background-color: rgba(202, 152, 112, 0.721);
    height: 30px;
    width: 110px;
    color: white;
    cursor: pointer;
}

/* Mobile-responsive styles */

@media (max-width:1500px){
    body{
        margin-top: 5%;
        padding: 20px;
    }
    .gameTable{
        width: 600px;
        height: 600px;
        /* border: 2px solid red; */
    }
    .tile{
        width: 66.6px;
        height: 64.7px;
    }
}


@media(max-width:1024px) {
    body {
    padding: 10px;
    gap: 20px;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    .flex{
        flex-direction: column;
        align-items: center;
}
.clock{
    flex-direction: row;
    order: 3;
}
.numpad{
    order: 1;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
}
.erase-result{
    order: 2;
    flex-direction: row;
}
.gameTable{
    width: 297px;
    height: 300px;
    margin-top: 60px;
}

.tile{
    width: 33px;
    height: 33px;
}

.rest{
    margin-bottom: 0px;
    justify-content: space-between;
    height: 450px;
    /* border: 2px solid ; */
}
.cell{
    width: 40px;
}
    
}

/* @media (max-width: 800px) {
    body {
        padding: 10px;
        gap: 20px;
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .flex{
        flex-direction: column;
        align-items: center;
    }
    .clock{
        flex-direction: row;
        order: 3;
    }
    .numpad{
        order: 1;
        display: flex;
        justify-content: space-between;
        height: 40px;
        width: 100%;
    }
    .erase-result{
        order: 2;
        flex-direction: row;
    }
    .gameTable{
        width: 297px;
        height: 300px;
        margin-top: 60px;
    }

    .tile{
        width: 33px;
        height: 33px;
    }

    .rest{
        margin-bottom: 80px;
        justify-content: space-between;
        height: 200px;
    }
    .cell{
        width: 40px;
    }
} */
@media (max-width: 600px) {
    body {
        padding: 20px;
        gap: 20px;
        height: 100vh;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .flex{
        flex-direction: column;
        align-items: center;
    }
    .clock{
        flex-direction: row;
        order: 3;
    }
    .numpad{
        order: 1;
        display: flex;
        justify-content: space-between;
        height: 40px;
        width: 100%;
    }
    .erase-result{
        order: 2;
        flex-direction: row;
    }
    .gameTable{
        width: 297px;
        height: 300px;
        margin-top: 60px;
    }

    .tile{
        width: 33px;
        height: 33px;
    }

    .rest{
        margin-bottom: 0px;
        justify-content: space-between;
        height: 200px;
    }
    .cell{
        width: 40px;
    }
}
